:root {
    --backgroundColor: #50adbb;
    --gameBoardColor: #E83151;
    --textColor: #DBD4D3;
    --gridOutline: #494a5066;
    --borderThickness: 7px;

    --winLineRotation: 0deg;

    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    color: var(--textColor);
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--backgroundColor);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

main {
    width: 30%;
    max-width: 500px;
    min-width: 300px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--gameBoardColor);
    border-radius: 1rem;
    padding: 1rem;
    position: relative;
}

#winText {
    font-size: 3rem;
    position: absolute;
    bottom: -4rem;
    margin: 0;
    display: none;
    animation: show 400ms 1s cubic-bezier(0.38, 0.97, 0.56, 0.76) forwards;
    opacity: 0;
}

.item {
    flex-basis: 32%;
    height: calc(100%/3);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 5rem;
    font-weight: 400;
    user-select: none;
}

.item p {
    animation: show 400ms 1ms cubic-bezier(0.38, 0.97, 0.56, 0.76) forwards;
    opacity: 0;
}

@keyframes show {
    100% {
        opacity: 1;
    }
}

@keyframes grow-left {
    0% {
        transform: rotate(var(--winLineRotation)) scaleX(0);
    }

    100% {
        transform: rotate(var(--winLineRotation)) scaleX(100%);
    }
}

.winLine {
    position: absolute;
    width: 300%;
    height: var(--borderThickness);
    background-color: var(--textColor);
    border-radius: 1rem;
    transform-origin: center;
    z-index: 2;
    animation: grow-left 1s ease-in-out 0s;
    transform: rotate(var(--winLineRotation));
}

.item::after {
    content: "";
    font-size: 0;
    background-color: var(--gridOutline);
    width: var(--borderThickness);
    height: 100%;
    position: absolute;
    right: calc(var(--borderThickness) / -2);
}

.item:nth-child(3n)::after {
    display: none;
}

.item::before {
    content: "";
    background-color: var(--gridOutline);
    width: calc(100% - var(--borderThickness));
    height: var(--borderThickness);
    position: absolute;
    bottom: calc(var(--borderThickness) / -2);
    left: calc(var(--borderThickness) / 2);
}

.last-row::before {
    display: none;
}

#item1::after,
#item2::after,
#item3::after {
    border-radius: 1rem 1rem 0 0;
}

#item7::after,
#item8::after,
#item9::after {
    border-radius: 0 0 1rem 1rem;
}

#item1::before,
#item4::before,
#item7::before {
    border-radius: 1rem 0 0 1rem;
}

#item3::before,
#item6::before,
#item9::before {
    border-radius: 0 1rem 1rem 0;
}

@media (max-width: 500px) {
    :root {
        --borderThickness: 5px;
        font-size: 12px;
    }

    main {
        width: 60%;
        min-width: 200px;
    }
}

@media (max-width: 300px) {
    :root {
        --borderThickness: 4px;
        font-size: 8px;
    }

    main {
        width: 75%;
        min-width: 175px;
    }
}